<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda</title>
    <link rel="stylesheet" href="../static/css/agenda.css">

</head>

<body>
    
    <div class="container">

        <div class="menu-principal" id="menu-principal">

             <header>

                <div class="logo">

                    <img src="../static/imagens/logo.png" alt="Logo ClientNote">

                    <h1>ClientNote</h1>

                </div>

                <p> {{ name }} </p>

                <div class="menu-hamburger">
                
                    <div class="menu-toggle" onclick="toggleMenu()">
                
                        <span></span>
                        <span></span>
                        <span></span>
                
                    </div>
                
                    <nav class="menu">
                
                        <ul>
                            <li><a href="{{ url_for('main_bp.home') }}">Sair</a></li>
                        </ul>
                    
                    </nav>
                
                </div>                
             
            </header>

            <h1>Cadastre aqui seus clientes</h1>

            <div class="menu-content">

                <div class="btn-clientes">

                    <button>Meus clientes</button>

                    <div class="btn-cadastrar">

                        <h2>Área de Cadastro:</h2>

                        <button id="btn-avista" onclick="btn_avista()">Cliente Avista</button>

                        <button id="btn-financiamento" onclick="btn_financiamento()">Cliente Financiamento</button>

                    </div>

                </div>

                <div class="calculadora">

                    <h1>Calculadora</h1>

                    <div class="content-options">

                        <div class="opt-calculadora">
                
                            <div class="box-calculadora">

                                <h2>Calculadora</h2>

                                <p>Faça seus calculos aqui.</p>

                            </div>

                            <img src="../static/imagens/calculadora.png" alt="Icone calculadora">
                
                        </div>

                        <div class="opt-financiamento">

                            <div class="box-financiamento">

                                <h2>Financiamento</h2>

                                <p>Veja o custo de um financiamento com prestações fixas.</p>

                            </div>

                            <img src="../static/imagens/financa.png" alt="Icone financiamento">

                        </div>

                        <div class="opt-aplicacao">

                            <div class="box-aplicacao">

                                <h2>Aplicação</h2>

                                <p>Calcule quanto terá após algum tempo, se depositar um valor mensalmente.</p>

                            </div>

                            <img src="../static/imagens/cofre.png" alt="Icone cofre">

                        </div>

                        <div class="opt-valor-futuro">

                            <div class="box-valor-futuro">

                                <h2>Valor Futuro</h2>

                                <p>Qual será o rendimento, se investir um periodo com taxa fixa.</p>

                            </div>

                            <img src="../static/imagens/valor.png" alt="Icone valor futuro">

                        </div>

                        <div class="opt-conversor-moedas">

                            <div class="box-conversor-moedas">

                                <h2>Conversor de Moedas</h2>

                                <p>Faça converções de Moedas.</p>

                            </div>

                            <img src="../static/imagens/moeda.png" alt="Icone valor futuro">

                        </div>

                        <div class="opt-lucro">

                            <div class="box-lucro">

                                <h2>Margen de Lucro</h2>

                                <p>Veja a Margem de Lucro da sua empresa.</p>

                            </div>

                            <img src="../static/imagens/lucro.png" alt="Icone de Margem de lucro">

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="agenda-parcelado" id="agenda-parcelado">

            <div>
                <a href="#" onclick="menu_principal()">
                    
                    <img src="../static/imagens/seta-voltar.png" alt="seta para voltar para paǵina anterior" width="40px">
                
                </a>
            
                <h1>Dados do Cliente</h1>
            
            </div>

            <form action="/submit" method="POST" autocomplete="off">

                <label for="name">Nome:</label>
                <input type="text" name="name" id="name" required maxlength="40" placeholder="Digite o nome do cliente">

                <label for="phone">Telefone:</label>
                <input type="number" name="phone" id="phone" required maxlength="10" placeholder="Digite o número de contato do cliente ex: DDD 1234-5678">

                <label for="car">Veiculo:</label>
                <input type="text" name="car" id="car" maxlength="10" required placeholder="Digite o nome do veiculo">

                <label for="car_value">Valor Veiculo:</label>
                <input type="number" name="car_value" id="car_value" required placeholder="Digite o valor do veiculo">

                <label for="entrada">Valor Entrada:</label>
                <input type="text" name="entrada" id="entrada" required placeholder="Digite o valor de entrada do veiculo">

                <label for="parcelas">Parcelas:</label>
                <input type="number" name="parcelas" id="parcelas" required placeholder="Digite o número de parcelas">

                <button>Cadastrar</button>

            </form>

        </div>

        <div class="agenda-avista" id="agenda-avista">

            <div>
                <a href="#" onclick="menu_principal()">
                    
                    <img src="../static/imagens/seta-voltar.png" alt="seta para voltar para paǵina anterior" width="40px">
                
                </a>
            
                <h1>Dados do Cliente</h1>
            
            </div>

            <form action="/submit" method="POST" autocomplete="off">

                <label for="name">Nome:</label>
                <input type="text" name="name" id="name" required maxlength="40" placeholder="Digite o nome do cliente">

                <label for="phone">Telefone:</label>
                <input type="number" name="phone" id="phone" required maxlength="10" placeholder="Digite o número de contato do cliente ex: DDD 1234-5678">

                <label for="car">Veiculo:</label>
                <input type="text" name="car" id="car" maxlength="10" required placeholder="Digite o nome do veiculo">

                <label for="car_value">Valor Veiculo:</label>
                <input type="number" name="car_value" id="car_value" required placeholder="Digite o valor do veiculo">

                <button>Cadastrar</button>

            </form>

        </div>

    </div>

    <script src="../static/js/agenda.js"></script>

</body>

</html>