<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClientNote</title>
    <link rel="stylesheet" href="../static/css/index.css">

</head>

<body>
    
    <div class="container">

        <div class="content-cadastro" id="cadastro">

            <div class="logo">
            
                <div class="logo-content">
            
                    <img src="../static/imagens/logo.png" alt="Logo">
            
                    <h1>ClientNote</h1>
            
                </div>
            
                <h1>Cadastro</h1>
            
            </div>

            <form action="/cadastro" method="POST" autocomplete="off">

                <label for="name">Nome:</label>
                <input type="text" name="name" id="name" required minlength="3" placeholder="Digite seu nome aqui">

                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required minlength="12" placeholder="Digite seu email aqui">

                <label for="password">Senha:</label>
                
                <div class="password-container">
                
                    <input type="password" name="password" id="cadastro-password" required minlength="8" maxlength="20" placeholder="Digite sua senha aqui">
                
                    <button type="button" class="toggle-password" onclick="togglePassword('cadastro-password', this)">🔒</button>
                
                </div>

                <p>Já tem uma conta? <a href="#" onclick="form_login()">Clique aqui para fazer Login</a></p>

                {% if error %}
                    <div class="error">{{ error }}</div>
                {% endif %}

                <button id="btn_cadastro">Continuar</button>

                <div id="load">

                    <button>
                        <div class="spin"></div>
                    </button>

                </div>

            </form>      

        </div>

        <div class="content-login" id="login">

            <div class="logo">
            
                <div class="logo-content">
            
                    <img src="../static/imagens/logo.png" alt="Logo">
            
                    <h1>ClientNote</h1>
            
                </div>
            
                <h1>Login</h1>
            
            </div>

            <form action="/login" method="POST" autocomplete="off">

                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required minlength="12" placeholder="Digite seu email aqui">

                <label for="password">Senha:</label>
                
                <div class="password-container">
                
                    <input type="password" name="password" id="login-password" required minlength="8" maxlength="20" placeholder="Digite sua senha aqui">
                    <button type="button" class="toggle-password" onclick="togglePassword('login-password', this)">🔒</button>
                
                </div>

                <p>Não tem uma conta? <a href="#" onclick="form_cadastro()">Clique aqui para Cadastrar</a></p>
                
                {% if error %}
                    <div class="error">{{ error }}</div>
                {% endif %}

                <button id="btn_login">Continuar</button>

                <div id="load">

                    <button>
                        <div class="spin"></div>
                    </button>

                </div>

            </form>      

        </div>

    </div>

    <script src="../static/js/index.js"></script>

</body>

</html>
